@import './mixins.scss';
@import './variables.scss';
/* 图标 */
.icon {
  display: inline-block;
  @include px2rem(width, 28);
  @include px2rem(height, 28);
  @include px2rem(line-height, 28);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &-user {
    background-image: url("./assets/img/user.png");
    @include margin(0, 34)
  }
  &-product {
    background-image: url("./assets/img/product.png");
    @include margin(0, 34)
  }
  &-mes {
    background-image: url("./assets/img/mes.png");
    @include margin(0, 34)
  }
  &-dot {
    &:after {
      content: "·";
      display: block;
      height: 100%;
      font-size: 30px;
      color: #fff;
      font-weight: bold;
      text-align: center;
    }
  }
}