@import './mixins.scss';
@import './variables.scss';

/* 通用样式 */
html,
body,
#app {
  width: 100%;
  height: 100%;
  // @include px2rem(height, 1080);
  // @include px2rem(width, 1920);
  background-color: $tbcm;
}

body {
  font-size: $tfs;
  @include px2rem(font-size, 16);

  #app {
    overflow: hidden;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .child-view {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: all .5s cubic-bezier(.55, 0, .1, 1);
  }

  .slide-left-enter,
  .slide-right-leave-active {
    opacity: 0;
    -webkit-transform: translate(30px, 0);
    transform: translate(30px, 0);
  }

  .slide-left-leave-active,
  .slide-right-enter {
    opacity: 0;
    -webkit-transform: translate(-30px, 0);
    transform: translate(-30px, 0);
  }

  .el-header {
    background-color: $tbch;
    // line-height: 100px;
    @include px2rem(line-height, 95);
    // box-shadow: 0 5px 5px rgba(0, 0, 0, .05);
    border-bottom: none;
    padding: 0;
    z-index: 999;
  }

  .el-aside {
    background-color: $tbca;
    color: #fff;
    width: 200px;
    overflow: unset;
    // text-align: center
  }

  .el-main {
    // line-height: 160px;
    position: relative;
    overflow-x: hidden;
  }

  .users {
    background-color: $tbcm;
  }

  .tasks {
    background-color: $tbcm;
  }

  // 导航栏样式重写
  .el-menu {
    background-color: $tbca;
    border-right: none;
    letter-spacing: 2px;

    &>.el-menu-item {
      @include px2rem(font-size, 22);
      @include px2rem(height, 76);
      @include px2rem(line-height, 76);
    }
  }

  .el-submenu {
    &:first-of-type {
      .el-submenu__title i.el-submenu__icon-arrow {
        display: none;
      }
    }

    &:hover,
    &.is-opened {
      .el-submenu__title {
        background-color: $tc;
        // border-left: 4px solid #273657;
        position: relative;

        &:after {
          content: "";
          display: block;
          width: 80%;
          height: 0px;
          border: 1px solid transparent;
          border-bottom-color: #b3b0b1;
          position: absolute;
          bottom: 0px;
          left: 50%;
          transform: translateX(-50%);
          border-radius: 50%;
          display: none;
        }

        &:before {
          content: "";
          display: block;
          width: 0;
          height: 0;
          border-width: 12px 8px;
          border-style: solid;
          border-color: transparent transparent transparent $tc;
          position: absolute;
          right: -16px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    &__title {
      @include px2rem(font-size, 22);
      @include px2rem(height, 76);
      @include px2rem(line-height, 76);
      @include px2rem(padding-left, 0, true);

      &:hover,
      &:focus {
        background-color: $tbcaa;
      }

      i {
        color: #fff;
        @include px2rem(font-size, 18);
      }
    }

    .el-menu-item {
      @include px2rem(font-size, 18);
      @include px2rem(height, 47);
      @include px2rem(line-height, 47);
      // @include px2rem(padding-left, 100);
      background-color: #484B54;
      @include px2remx(padding-left, 90, true);

      &.is-active {
        background-color: $tbcaa;

        i.icon-dot:after {
          color: $tc
        }
      }

      &:hover,
      &:focus {
        background-color: $tbcaa;
        color: $tc;
      }
    }
  }

  // 按钮样式重写
  .el-button {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

    &--primary {
      background-color: $tc;
      border-color: $tc;

      &.is-active,
      &:active {
        background-color: $tc7;
        border-color: $tc7;
      }

      &:focus,
      &:hover {
        background-color: $tc7;
        border-color: $tc7;
      }
    }

    &--mini,
    &--mini.is-round {
      @include padding(8, 15);
      @include px2rem(font-size, 16)
    }

    &--default:active {
      color: $tc;
    }

    &--default:focus,
    &--default:hover {
      color: $tc;
      border-color: $tc9;
      background-color: #fff;
    }
  }

  // select样式重写
  .el-input {
    @include px2rem(font-size, 16);
  }
  .el-input {
    .el-input__inner {
      &:focus,
      &:active {
        border-color: $tc
      }
    }
  }
  .el-select .el-input.is-focus .el-input__inner {
    border-color: $tc
  }
  .el-form-item--mini .el-form-item__content, .el-form-item--mini .el-form-item__label {
    @include px2rem(line-height, 32)
  }

  .el-form-item__label {
    @include px2rem(font-size, 16);
    color: #333
    // font-weight: bold
  }
  .el-form-item__error {
    @include px2rem(font-size, 14);
  }
  .el-form-item--mini.el-form-item, .el-form-item--small.el-form-item {
    @include px2rem(margin-bottom, 25);
  }

  .el-checkbox__label {
    @include px2rem(font-size, 14)
  }

  .el-input__prefix {
    left: auto;
    right: 5px;
  }

  .el-input--prefix .el-input__inner {
    padding-left: 15px;
  }

  .el-input--mini .el-input__inner {
    @include px2rem(font-size, 14);
    @include px2rem(height, 32);
    @include px2rem(line-height, 32);
    @include px2rem(padding-left, 12);
    @include px2rem(padding-right, 12)
  }
  .el-select-dropdown__empty {
    @include px2rem(font-size, 14);
  }

  /* 单选框样式重重写 */
  .el-radio__input{
    &.is-checked {
      .el-radio__inner{
        background-color: #7d7d7d;
        border-color: #7d7d7d;
      }
      &+.el-radio__label {
        color: #333
      }
    }
    .el-radio__inner {
      &:hover {
        border-color: #7d7d7d
      }
    }
  }
  
  
  /* 搜索框样式 */
  .el-input-group__append,
  .el-input-group__prepend {
    text-align: center;
    @include px2rem(width, 53);
    padding: 0;
    background-color: $tc;
    color: #fff;
    border-color: $tc;
    .el-button {
      width: 100%;
      height: 100%;
      &:hover,
      &:active,
      &:focus {
        background-color: $tc;
        color: #fff
      }
    }
  }
  .el-input-group__append {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    .el-button {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
  .el-input-group__prepend {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    .el-button {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
  }

  // 表格样式重写
  .el-table {
    text-align: center;

    // margin-top: 20px;
    thead th {
      text-align: center
    }

    .el-button {
      // border-color: $tbca;
      // border-radius: 7px;
      text-decoration: underline;
      color: $tc;

      &:last-of-type {
        color: #666
      }

      &--mini {
        padding: 4px 0px;
        @include px2rem(font-size, 16)
      }

      &.is-plain:focus,
      &.is-plain:hover,
        {
        background-color: $tbca;
        border-color: $tbca;
        color: #fff;
      }
    }

    .cell {
      @include px2rem(line-height, 34);
      @include px2rem(font-size, 16);
      a {
        text-decoration: underline;
        color: $tc
      }
    }

    td,
    th.is-leaf {
      border-bottom: none
    }

    &:before {
      display: none;
    }

    &__fixed-right::before,
    &__fixed::before {
      display: none
    }

    td,
    th {
      @include padding(6, 0);
      position: relative;

      &:not(:last-of-type):after {
        content: "";
        position: absolute;
        right: -1px;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        @include px2rem(height, 18);
        border-left: 1px solid #fff;
        border-right: 1px solid #C5CAED;
      }
    }
  }

  .el-table .cell,
  .el-table th div,
  .el-table--border td:first-child .cell,
  .el-table--border th:first-child .cell {
    @include px2rem(padding-left, 10)
  }

  .el-table .cell,
  .el-table th div {
    @include px2rem(padding-right, 10);
    // font-family: 'SimHei';
    color: #666
  }

  .el-table th>.cell {
    @include px2rem(font-size, 18)
  }

  tr.header-row,
  tr.header-row th {
    color: rgba(102, 102, 102, 1);
    font-weight: bold;
    @include px2rem(font-size, 18);
  }

  tr.even-row {
    background-color: rgba(244, 245, 252, 1);
  }

  .el-table .cell {
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  /* dialog样式重写 */
  .el-dialog__header {
    background-color: $tc;
    // padding: 10px 20px;
    @include px2rem(height, 49);
    @include px2rem(line-height, 49);
    @include px2rem(padding, 0);
    @include px2rem(padding-left, 15);
    position: relative;

    .el-dialog__title,
    .el-dialog__headerbtn .el-dialog__close {
      color: #fff;
    }

    .el-dialog__title {
      line-height: normal;
      @include px2rem(font-size, 18);
    }

    .el-dialog__headerbtn {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  /* 通用样式 */
  .list {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 36px;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    -ms-border-radius: 36px;
    -o-border-radius: 36px;
    box-shadow: 1px 4px 21px 0px rgba(137, 137, 137, 0.39);
    @include padding(20, 40);
  }

  .header {
    .el-input--mini .el-input__inner {
      @include px2rem(height, 40);
      @include px2rem(line-height, 40);
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    .el-button--mini,
    .el-button--mini.is-round {
      width: 100%;
      padding: 0;
      @include px2rem(font-size, 24);
      @include px2rem(line-height, 40);
      display: block;
      margin: -10px 0
    }
    .el-input-group__append,
    .el-input-group__prepend {
      @include px2rem(line-height, 36);
      @include px2rem(height, 38);
    }
  }

  .title {
    @include padding(10, 10, 20, 10);
    border-bottom: 2px dashed rgba(229, 229, 229, 1);
    @include px2rem(border-bottom-width, 2);

    h5,
    span {
      @include px2rem(font-size, 30);
      color: $tc;
      display: block;
      position: relative;
      padding-left: 8px;

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        @include px2rem(height, 24);
        @include px2rem(width, 5);
        @include px2rem(margin-right, 9);
        background-color: $tc;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
      }
    }
  }

  .btn-group {
    @include padding(20, 10);

    .el-button--mini,
    .el-button--small {
      @include px2rem(font-size, 16);
    }
    .el-input {
      border: 1px solid #ccc;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
    }
    .el-input__inner {
      border: none;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    .el-input-group__append,
    .el-input-group__prepend {
      background-color: #fff;
      color: $tc;
      border: none;
      .el-button {
        position: relative;
        &:hover,
        &:active,
        &:focus {
          border: none;
          background-color: #fff;
          color: $tc
        }
        &:after {
          content: "";
          display: block;
          width: 1px;
          @include px2rem(height, 20);
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          background-color: $tc;
        }
      }
    }
  }

  /* 分页器样式 */
  .el-pager {
    li {
      padding: 0;
      @include px2rem(min-width, 35);
      @include px2rem(height, 23);
      @include px2rem(line-height, 23);
      @include px2rem(font-size, 14);
      @include margin(0, 7, 0, 8);
      background: rgba(252, 252, 252, 1);
      border-radius: 4px;
      box-shadow: 1px 1px 1px 0px rgba(146, 160, 146, 0.52);
      color: $tc;

      &.active {
        color: #fff;
        background-color: $tc;
        box-shadow: 1px 1px 1px 0px rgba(146, 160, 146, 0.52);
      }
    }

    .more:before {
      @include px2rem(line-height, 23);
    }
  }

  .el-pager li.btn-quicknext,
  .el-pager li.btn-quickprev {
    @include px2rem(line-height, 27);
  }

  .el-pagination .btn-next,
  .el-pagination .btn-prev {
    padding: 0, 5px;
    @include px2rem(height, 23);
    @include px2rem(line-height, 23);
    @include px2rem(font-size, 14);
    @include margin(0, 7, 0, 8);
    background: rgba(252, 252, 252, 1);
    border-radius: 4px;
    box-shadow: 1px 1px 1px 0px rgba(146, 160, 146, 0.52);
    color: $tc;

    &:hover:not(:disabled) {
      color: #fff;
      background-color: $tc;
      box-shadow: 1px 1px 1px 0px rgba(146, 160, 146, 0.52);
    }
  }

  .el-pagination button:disabled {
    background: rgba(252, 252, 252, 1);
  }

  /* 登陆 */
  .login {
    .el-row.btns {
      @include px2rem(margin-top, 10)
    }

    .el-input {
      border-color: #CBFDE7;
      background-color: #fff;
    }

    .el-form-item__label {
      text-align: justify;
      // line-height: normal;
      &:after {
        content: '';
        display: block;
        width: 100%;
      }
    }

    .el-button {
      @include px2rem(width, 190);
      @include px2rem(height, 40);
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      background: linear-gradient(to bottom, #18bd83, #18bd83 50%, #009862 50%, #009862);
      @include px2rem(font-size, 18);
      font-weight: bold;
      letter-spacing: 2px;
    }

    .el-form-item__label {
      // @include px2rem(padding-top, 12);
      @include px2rem(height, 32);
    }

    .btn-group {
      padding: 0;
    }
    
  }

  /* 选择框样式重写 */
  .el-checkbox__input.is-checked .el-checkbox__inner,
  .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #7d7d7d;
    border-color: #7d7d7d;
  }

  .el-checkbox__input.is-checked+.el-checkbox__label {
    color: #333;
    // font-weight: 600
  }

  // 确认框样式重写
  .el-message-box {
    @include px2rem(width, 497);
    @include px2rem(height, 277);
    padding-bottom: 20px;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    &__title {
      @include px2rem(font-size, 18);
      @include px2rem(line-height, 49);
    }
    &__header {
      @include px2rem(padding, 0);
      @include px2rem(padding-left, 15);
      @include px2rem(height, 49);
      font-weight: 400;
      background-color: $tc;
      * {
        color: #fff
      }
    }
    &__headerbtn {
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      &:hover {
        .el-message-box__close {
          color: #fff;
        }
      }
      .el-message-box__close {
        color: #fff;
      }
    }
    &__content {
      width: 90%;
      @include margin(30, auto);
    }
    &__status {
      font-size: 48px !important;
      top: 50%;
      @include px2rem(left, 40);
      &.el-icon-warning {
        color: $tc;
      }
      &+.el-message-box__message {
        @include px2rem(padding-left, 100);
      }
    }

    &__message p {
      letter-spacing: 1px;
      p {
        @include px2rem(margin, 10 0);
        @include px2rem(font-size, 16);
      }
      span {
        @include px2rem(font-size, 16);
      }
    }
    &__btns {
      @include px2rem(padding-right, 58);
      .el-button--small, .el-button--small.is-round {
        padding: 7px 12px;
      }
      .el-button--primary {
        &:focus {
          background-color: $tc;
          color: #fff
        }
        &:hover {
          background-color: $tc7;
          color: #fff
        }
      }
    }
  }

  .el-message {
    top: 50%;
  }

  .el-message__content {
    @include px2rem(font-size, 16);
  }

  .el-tooltip__popper {
    @include px2rem(font-size, 14);
  }
}
